<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name ="PovarDbContext" 
			connectionString = "Data Source=GoydaBook;Initial Catalog=PovarDB;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
			providerName="System.Data.SqlServer" />
				
	</connectionStrings>
	<appSettings>
		<add key="OrderCheckFolderPath" value="C:\\Users\\alexu\\OneDrive\\Desktop\\SHARAGA6\\Kursach\\PovarCRM\\OrderChecksPDF"/>
	</appSettings>
</configuration>